* {
    
    color: aliceblue;
    font-family: 'Cabin', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #0d3b55;
}

.foto{
    grid-area: foto;
    display: flex;
    justify-content: center;
}


/* agrego animacion en el slogan del index */
.slogan {
    padding-top: 5%;
    grid-area: slogan;
    width: 45%;
    margin-left: 20px;
    font-size: xx-large;
    position: relative;
    animation: movimiento 5s;
}

@keyframes movimiento{
    0%{left: 100px;}
    100%{left:0px;}
}

.texto--explicativo {
    grid-area: texto--explicativo;
    padding-top: 5%;
    margin-left: 20px;


}

.video {
    grid-area: video;
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

.icono--izq {

    grid-area: icono--izq;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}

.icono--der {
    grid-area: icono--der;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    
}


.footer {
    padding-top: 0;
    grid-area: footer;
    font-size: small;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dato{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards--contacto{
    
    grid-area: cards--contacto;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 20px;
    padding-top:60px;

 

    
}

.card{
   width: 50%;
   height: 50%; 
   padding-left: 10px;

}


.formulario{
    
    grid-area: formulario;
    display: flex;
    padding-top: 50px;
    flex-direction: column;

}


.redes{
display: flex;
flex-direction: row;
column-gap: 10px;
padding-left: 10px;

}


#contenedor {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto auto auto auto auto 20px;
    grid-template-areas:

        "slogan"
        "foto"
        "texto--explicativo"
        "video"
        "icono--izq"
        "icono--der"
        "footer"

    ;
}

#contenedor--contacto{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto auto 20px;
    grid-template-areas:

    "cards--contacto"
    "formulario"
    "footer"


;


}

/* utilizo este breakpoint porque coincide con el de bootstrap (para mostrar o no el menu hamburguesa) */

@media only screen and (min-width: 992px){
    

    #contenedor--contacto {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto 20px;
        grid-template-areas:
    
            "cards--contacto formulario"
            "footer footer"
    
        ;
    }
}




/* utilizo este breakpoint porque coincide con el de bootstrap (para mostrar o no el menu hamburguesa) */
@media only screen and (min-width: 992px){
    
    .foto{
        display: none;
    }
    
    #principal{
        background-image: url("fondo-contacto.jpg");
        background-size: 150rem;
        background-repeat: no-repeat;
    
    }

    #contenedor {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 2fr 2fr auto 1fr;
        grid-template-areas:
    
            "slogan slogan"
            "texto--explicativo video"
            "icono--izq icono--der"
            "footer footer"
    
        ;
    }
}
