* {
    
    color: aliceblue;
    font-family: 'Cabin', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #0d3b55;
}

.foto{
    grid-area: foto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan {
    padding-top: 5%;
    grid-area: slogan;
    width: 45%;
    margin-left: 20px;
    font-size: xx-large;
}

.texto--explicativo {
    grid-area: texto--explicativo;
    padding-top: 5%;
    margin-left: 20px;


}

.video {
    grid-area: video;
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

.icono--izq {

    grid-area: icono--izq;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}

.icono--der {
    grid-area: icono--der;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    
}


.footer {
    padding-top: 0;
    grid-area: footer;
    font-size: small;
}

#contenedor {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto auto auto auto auto 20px;
    grid-template-areas:

        "slogan"
        "foto"
        "texto--explicativo"
        "video"
        "icono--izq"
        "icono--der"
        "footer"

    ;
}



@media only screen and (min-width: 992px){
    
    .foto{
        display: none;
    }
    
    #principal{
        background-image: url("fondo-contacto.jpg");
        background-size: 150rem;
        background-repeat: no-repeat;
    
    }

    #contenedor {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 2fr 2fr auto 1fr;
        grid-template-areas:
    
            "slogan slogan"
            "texto--explicativo video"
            "icono--izq icono--der"
            "footer footer"
    
        ;
    }
}
